# MongoDB Connection
# Get your connection string from MongoDB Atlas dashboard
# Format: mongodb+srv://username:password@cluster.mongodb.net/database
MONGODB_URI=mongodb+srv://ilcarpio3956qc_db_user:<db_password>@cluster0.roo7wsb.mongodb.net/?appName=Cluster0
MONGODB_DB=thesis_software

# Server port
PORT=4000
